

.NavigationItem {
    margin: 2rem;
    display: flex;
    height: 100%;
    align-items: center;
    width: auto;
    font-size: 150%;
    cursor: pointer;

}
.NavigationItem a{
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
    height: 100%;
}


.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active,
.NavigationItem a > .active
{
    border-bottom: 2px solid #40A4C8;
    width: 110%;
    color: #40A4C8;
    
}
@media (min-width: 1024px) {
    .NavigationItem {
        margin: 0;
        display: flex;
        height: 100%;
        align-items: center;
        width: auto;
        margin-right: 3rem;
        font-size: 100%;
    
    }
    .NavigationItem a{
        height: 100%;
        padding: 0.5rem;
        padding-bottom: 0.1rem;
        border-bottom: 4px solid transparent;
    }
    .NavigationItem a:hover,
    .NavigationItem a:active,
    .NavigationItem a > .active{
        border-bottom: 2px solid #40A4C8;
        width: 110%;
        color: #40A4C8;
}


}



